<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='barra_superior/barra_superior_info.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='docente_css/sistema_docente_avaliacao_institucional.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>
<div class="container-grande">

        {% include '/docente_html/barra_lateral_docente.html' %}

        <div class="container-direito">
            <div class="informacao-usuario">
                <img src="{{ url_for('static', filename='/img/imagem_perfil_sem_foto.jpg') }}" alt="Perfil">
                <ul>
                    <li>Docente: {{ docente }}</li>
                    <li>Matricula: {{ matricula }}</li>
                </ul>
                <ul>
                    <li>Curso: {{ curso }}</li>
                    <li>E-mail: {{ email }}</li>
                </ul>
                <a href="/">
                    <span class="icon"><i class="bi bi-box-arrow-left"></i></span>
                    <span class="txt-link">Sair</span>

                </a>
            </div>



            <div class="container-avaliacao_intitucional_docente">
                <div>
                    <h3>Em construção!</h3>
                </div>

            </div>

        </div>
    </div>
</body>
</html>