<div class="barra-lateral-esquerda">
    <div class="navigation barra-lateral">
        <ul id="listaLinks">
            <li class="item-menu ">
                <a href="/aluno_html/aviso">
                    <span class="icon"><i class="bi bi-bell"></i></span>
                    <span class="txt-link">Aviso</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/aluno_html/avaliacao">
                    <span class="icon"><i class="bi bi-graph-up-arrow"></i></span>
                    <span class="txt-link">Avaliação</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/aluno_html/financeiro">
                    <span class="icon"><i class="bi bi-cash-coin"></i></span>
                    <span class="txt-link">Financeiro</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/aluno_html/avaliacao_institucional">
                    <span class="icon"><i class="bi bi-emoji-smile"></i></span>
                    <span class="txt-link">Avaliação Institucional</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/aluno_html/mudar_senha">
                    <span class="icon"><i class="bi bi-key"></i></span>
                    <span class="txt-link">Mudar Senha</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/">
                    <span class="icon"><i class="bi bi-box-arrow-left"></i></span>
                    <span class="txt-link">Sair</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='barra_lateral_css/sistema_barra_lateral.css') }}">


